{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": "> 1%",
        "uglify": true
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ],
  "env": {
    "testing": {
      "presets": [
        "env",
        "stage-2"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
